# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

static-bond-505208-g7-c33ae0f7d269.json
static-bond-505208-g7-c33ae0f7d269.jsonZone.Identifier

portfolio-4bfd3-b6cda3bbacdd.json
portfolio-4bfd3-b6cda3bbacdd.jsonZone.Identifier

.env
memo